.footer{ 
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #0A79DF;
    color: white;
    border-top: #707070 solid .1px;
}

.footer-list{
    list-style-type: none;

    text-decoration: none;
}

.mail{
    color: white;
}