.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  background-color: white;
  border-top: #707070 solid 0.1px;
  border-bottom: solid 1px black;
  margin-top: 50px;
  margin-bottom: 15px;
}

.scl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-list {
  list-style-type: none;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: center;
}

.text-dark1 {
  color: black;
}

.footdata h3 {
  font-size: 22px;
}

.footdata p {
  font-size: 15px;
}

.footdata h4 {
  font-size: 20px;
}

@media only screen and (max-width: 750px) {
  .logo {
    display: inline;
  }

  .scl {
    display: flex;
    /* align-content: space-around;
    flex-flow: row; */
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    justify-content: center;
  }

  ul {
    padding: 0px;
  }
}

.footer-list > li {
  padding-top: 20px;
}

.mail {
  padding-top: 5px;
  font-weight: 700;
  color: #0a79df;
}

.socialfot {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media only screen and (max-width: 600px) {
  .socialfot {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .socialfot p {
    font-size: 14px;
  }
}
