.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  background-color: white;
  border-top: #707070 solid 0.1px;
  border-bottom: solid 1px black;
  margin-top: 50px;
  margin-bottom: 15px;
}

.scl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width: 750px) {
  .scl {
    display: flex;
    /* align-content: space-around;
    flex-flow: row; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.footer-list {
  list-style-type: none;
  font-weight: 700;
  text-decoration: none;
}

.footer-list > li {
  padding-top: 20px;
}

.mail {
  padding-top: 15px;
  font-weight: 700;
  color: #0a79df;
}

.socialfot {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media only screen and (max-width: 600px) {
  .socialfot {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
}
