.jumbotron {
  margin: 0;
  padding: 0;
  background-color: white;
  font-weight: 700;
}
.logo {
  text-align: center;
}
.logo > img {
  height: 100px;
  width: 250px;
  padding: 20px;
}
.announcement {
  color: red;
  font-weight: 300;
}
.basicc {
  justify-items: center;
}
.jumbotron > custnav > text-light >p:hover{
  background-color: aqua;
}