.jumbotron{
  margin:0;
  padding:0;
  background-color: white;
  font-weight: 700;
}

.navbar{
    background-color: #0A79DF;
    height: 50px;
}
.logo{
    text-align: center;
}
.logo > img{
    height: 100px;
    width: 250px;
    padding: 20px;
}
.announcement{
    color: red;
}
.navbar-nav.navbar-center {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.nav-item{
    padding-left: 30px;
    padding-right: 30px;
}
.nav-item:hover{
  background-color: #105998;
}
.dropbtn {
    background-color: #0A79DF;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
   position: absolute;
  
    background-color: #0A79DF ;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
  .dropdown-content a {
    margin-top: 12px;
    color: beige;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: white ;
    color:black;}

  .dropdown-content .drophover:hover {background-color: #105998;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #105998;}
