.jumbotron {
  margin: 0;
  padding: 0;
}

.tagline {
  height: 100%;
  width: 100%;
}
.welcome {
  display: flex;
  background-color: hsl(0, 0%, 96%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.htext {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
.himage {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 800px) {
  .welcome {
    display: flex;
    background-color: #f5f5f5;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .himage {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    width: 70%;
  }

  .htext h2 {
    font-size: 25px;
  }
}

.courses-offered {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.courses {
  height: 100%;
  display: flex;
  margin: 30px;
  justify-content: space-around;
  background-color: white;
}

.mp {
  background-color: #f5f5f5;
  width: 45%;
  padding: 20px;
  margin: 20px;
}
.rk {
  background-color: #f5f5f5;
  width: 45%;
  padding: 20px;
  margin: 20px;
}

.img-holder {
  width: 45%;
  position: relative;
}

.img-holder img {
  width: 100%;
}

.img-holder Link {
  position: absolute;
  top: 80%;
  right: 80%;
}

.courcbtn {
  background-color: #0a79df;
  position: absolute;
  top: 85%;
  right: 60%;
  margin: 0px;
  font-size: 1vw;
  /* bottom: 10px; your button position
  right: 10px; your button position */
}

@media (max-width: 780px) {
  .img-holder {
    margin-top: 10px;
    width: 90%;
    position: relative;
  }

  .img-holder img {
    width: 100%;
  }

  .img-holder Link {
    position: absolute;
    top: 80%;
    right: 80%;
  }

  .courcbtn {
    position: absolute;
    top: 85%;
    right: 70%;
    padding: 3px 6px;
    font-size: 1.7vw;
    /* bottom: 10px; your button position
    right: 10px; your button position */
  }
}

.__coursesofferedcard {
  background-color: #f5f5f5;
  width: 45%;
  margin: 20px;
}

.line {
  padding-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  width: fit-content;
}

.btn {
  font-weight: 700;
  margin: 0px;
}

@media only screen and (max-width: 880px) {
  .courses-offered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .courses-offered h2 {
    font-size: 20px;
  }

  .courses {
    display: flex;
    background-color: white;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
  }

  .img-holder {
    margin-top: 10px;
    /* width: 60%; */
  }

  .mp {
    background-color: #f5f5f5;
    width: 100%;
    padding-top: 20px;
    margin-bottom: 10px;
  }

  .rk {
    background-color: #f5f5f5;
    width: 100%;
    padding-top: 20px;
    margin-top: 10px;
    margin-bottom: 2px;
  }

  .rk h3 {
    font-size: 21px;
  }

  .rk p {
    font-size: 15px;
  }

  .rk div h4 {
    font-size: 18px;
  }

  .butre {
    font-weight: 200;
    font-size: 13px;
  }
}

.row1 {
  display: flex;
  margin-top: 60px;
  margin-bottom: 60px;
}

.quizbanner {
  margin-top: 20px;
}

.row2 {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}
.row3 {
  display: flex;
  margin-top: 40px;
}
.dog {
  width: 95%;
  padding-bottom: 20px;
}
.col1 {
  padding: 20px;
  /*border-right: 2px solid #c0c0c0;*/
}
.col2 {
  padding: 20px;
}

.__home_linee {
  width: 5px;
  height: 210px;
  background-color: #c0c0c0;
}

.__home_linee2 {
  width: 5px;
  height: 270px;
  background-color: #c0c0c0;
}

.btn-default {
  background-color: #0a79df;
}

.onvideo {
  background-color: #f5f5f5;
  padding: 20px;
  margin-top: 20px;
  display: flex;
}

.onvideo-in {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

video {
  width: 320px;
  height: auto;
}

.v2 {
  border-bottom: 4px solid #0a79df;
  width: 7%;
}

@media only screen and (max-width: 770px) {
  /* .onvideo {
    background-color: #f5f5f5;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } */

  .onvideo-in {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  video {
    width: 80%;
  }

  .onvideo-in > div > h2 {
    font-size: 22px;
  }

  .onvideo-in > div > p {
    font-size: 17px;
  }

  .v2 {
    border-bottom: 4px solid #0a79df;
    width: 10%;
  }
}

.team {
  padding: 20px;
  margin-top: 30px;
}
.jteam {
  text-align: center;
}
.hiring {
  height: 100%;
  width: 100%;
  padding: 20px;
}

.gservices {
  background-color: #0a79df;
  display: flex;
  font-weight: 700;
}
.left {
}

.right {
}
.sixhundred {
  color: white;
  text-align: center;
  height: auto;
  font-weight: 700;
  font-size: 65px;
}
.curaffairs {
  margin-top: 50px;
}

.cahead {
  text-align: center;
  font-weight: 700;
}
.caffairs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  background-color: white;
}
.cbanner1 {
  width: 50%;
  padding: 20px;
}

.cbanner2 {
  width: 50%;
  padding: 20px;
}

.text-light {
  font-weight: 200;
  font-size: 15px;
}

.proverb {
  display: flex;
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  background-color: #ebebeb;
}

.d-block {
  object-fit: contain;
  height: 300px;
  width: 500px;
}

.hcarousel {
  margin-top: 40px;
  margin-bottom: 130px;
}

.applive {
  background-color: #2c6fbe;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.applive-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appimage {
  width: 50%;
}

.appcont {
  padding-left: 50px;
  padding-right: 50px;
}

.applive-log div img {
  height: 100px;
  width: 100px;
}

.applive-log a img {
  width: 200px;
  margin-top: 20px;
}

.applive-log a {
  margin-left: 30px;
}

.applive-log {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

@media (max-width: 600px) {
  .hcarousel {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .appcont div h1 {
    font-size: 28px;
  }

  .applive-log div img {
    height: 80px;
    width: 80px;
  }

  .applive-log a img {
    width: 120px;
    margin-top: 20px;
  }

  .moredetbtn {
    font-size: 15px;
  }
}

.jteam1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 850px) {
  .jteam {
    font-size: 22px;
  }

  .applive-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .appcont {
    padding-left: 30px;
    padding-right: 30px;
  }

  .appimage {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 60px;
  }

  .jteam1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .proverb {
    display: flex;
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    background-color: #ebebeb;
    font-size: small;
  }

  .sixhundred {
    font-size: 45px;
    height: auto;
  }

  .left {
    margin-bottom: 15px;
  }
}
