.mp__list {
  display: flex;
}

.mp__list > ul li {
  color: #0a79df;
  padding-right: 50px;
}

.mp__list > ul li span {
  color: black;
}

.mp__list2 > ul li {
  color: #0a79df;
  padding-right: 50px;
}

.mp__list2 > ul li span {
  color: black;
}

.btn {
  margin-top: 75px;
  margin-bottom: 50px;
}

.mp__footer {
  display: flex;
}

.mp__vector {
  height: 500px;
  width: 700px;
  padding-bottom: 20px;
  margin-top: -150px;
  align-items: flex-end;
  flex: 0.6;

  object-fit: contain;
}

.mp__reg {
  flex: auto;
  /* min-width: 300px; */
}

@media only screen and (max-width: 800px) {
  .mp__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mp__vector {
    height: 300px;
    width: 500px;
    padding-bottom: 20px;
    margin-top: -50px;
    align-items: flex-end;
    flex: 0.6 1;
    object-fit: contain;
  }
}