.header > h2 {
  color: #0a79df;
}
.btn-group {
  margin-left: 16px;
  margin-top: 50px;
}
.hr {
  border-bottom: 5px solid;
}

.upload > button {
  height: 40px;
  width: 200px;
}

.sub > button {
  color: aliceblue;
  height: 40px;
  width: 200px;
}

.row {
  display: flex;
  margin: 0px;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.smtag {
  width: 45%;
}

.regrow {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 15px;
}

@media only screen and (max-width: 600px) {
  .regrow {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .smtag {
    width: 100%;
    margin-bottom: 10px;
  }
}

.volun {
  margin-bottom: 20px;
}
.upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.tex {
  align-items: center;
  text-align: justify;
}
.btn {
  background-color: #0a79df;
}

.sub {
  display: flex;
  justify-content: center;
}
